{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>欢迎使用数据库监控系统</h1>
        <p class="lead">监控数据库状态，执行SQL查询，管理定时任务。</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">数据库管理</h5>
                <p class="card-text">添加和配置数据库连接。</p>
                <a href="/databases" class="btn btn-primary">管理数据库</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">SQL查询</h5>
                <p class="card-text">执行SQL查询并查看结果。</p>
                <a href="/query" class="btn btn-success">开始查询</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">定时任务</h5>
                <p class="card-text">设置定时检查任务和通知。</p>
                <a href="/tasks" class="btn btn-info">管理任务</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
